#good-news {
  position: fixed;
  top: -30px;
  left: 0;
  right: 0;

  height: 30px;
  width: 100%;

  background: red;

  text-align: center;
}

#good-news-message {
  display: inline-block;
}

#close-good-news-bar {
  position: absolute;
  display: inline-block;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: blue;
}

h1 {
  margin: 0;
}